@font-face
    font-family: 'San Francisco'
    font-weight: 400
    src: url("../../fonts/sanfranciscodisplay-regular-webfont.woff")

html
    font-family: 'San Francisco', 'Helvetica', 'Georgia', sans-serif
    font-size: 16px
    word-spacing: 1px
    box-sizing: border-box
    color: $--color-text-primary

*,
*:before,
*:after
    box-sizing: border-box
    margin: 0


body
    padding: 0 !important
    background-color: $--main-bg

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track,
.el-main::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px #171714
    background-color:  $--color-white

body::-webkit-scrollbar,
div::-webkit-scrollbar,
.el-main::-webkit-scrollbar,
textarea::-webkit-scrollbar
    width: 8px
    background-color: $--color-text-primary

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
.el-main::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb
    -webkit-box-shadow: inset 0 0 6px #171714
    background-color: $--color-primary


@media (max-width: 640px)
    .el-dialog
        width: 98% !important
