@import './el-ui/element-variables'
@import './el-ui/init'
@import "./core/core"
@import "./elements/_date_range"
@import "./el-ui"

.form-required
  position: absolute
  height: 6px
  width: 6px
  color: #ed505e
  z-index: 10
  right: 8px
  top: 4px

.errors
  margin-top: 4px
  min-height: 20px
  clear: both
  font-size: 13px
  color: #ed505e

.search-reset
  position: absolute
  right: 20px
  cursor: pointer
  border: 1px solid #666
  border-radius: 50%
  width: 20px
  height: 20px
  text-align: center
  z-index: 100
  top: 11px
  opacity: 0.6
  line-height: 1
