body
  .el-main
    padding: 12px 10px 60px 10px

  .el-select-group .el-select-dropdown__item
    padding-left: 15px

  .el-select-group__wrap
    padding-bottom: 10px !important

  .select-custom-child .el-select-group li:first-child
    font-weight: 800

  .select-custom-child .el-select-group li:not(:first-child)
    padding-left: 25px !important
    font-size: 13px

  .el-select-dropdown__item
    height: 26px
    line-height: 26px

  .el-select-group__wrap:not(:last-of-type)::after
    left: 10px
    right: 10px
    bottom: 5px

  .el-tabs__item
    font-weight: 800

  .el-progress
    z-index: 2800

  .el-dialog__headerbtn
    top: 10px
    right: 10px

  .el-dialog__header, .el-dialog__body
    padding: 10px

  .el-dialog__header
    padding-bottom: 0

