<template>
  <el-container>
    <div v-loading.fullscreen.lock="getLoading"></div>

    <el-main>
      <router-view></router-view>
    </el-main>
  </el-container>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
    name: "Loader",
    computed: {
        ...mapGetters(['getLoading'])
    }
}
</script>

