body
  .v-date-calendar
    border: 1px solid #DCDFE6
    border-radius: 4px

  .v-date-day-cell.v-date-selected .v-date-cell-text, .date-is-used .v-date-cell-text
    background-color: $--color-primary
    height: 50px
    width: 50px
    border-radius: 100%
    color: #ffffff !important

  .v-date-day-cell .v-date-solar
    height: 100%
    display: flex
    align-items: center
    justify-content: center

  .date-is-used .v-date-cell-text
    background-color: #666

  .v-date-day-cell.v-date-passive
    color: #666

  .v-date-day-cell.v-date-in-range
    background-color: #eee
    color: #666

  .v-date-selected
    background-color: transparent
    color: $--color-regular !important

  .v-date-text :hover, .v-date-month-cell :hover, .v-date-arrow-button :hover
    cursor: pointer
    color: $--color-regular !important

  .v-date-arrow
    border-top: 2px solid #303133 !important
  .v-date-arrow.v-date-prev
    border-left: 2px solid #303133 !important
  .v-date-arrow.v-date-next
    border-right: 2px solid #303133 !important

  @media (max-width: 420px)
    .v-date-day-cell.v-date-selected .v-date-cell-text
      height: 45px
      width: 45px

  @media (max-width: 370px)
    .v-date-day-cell.v-date-selected .v-date-cell-text
      height: 35px
      width: 35px

