:root {
    --transparent: transparent;
    --black: #22292f;
    --white: white;
    --white-50: rgba(255, 255, 255, 0.5);
    --danger: #e74444;
    --success: #21b978;
    --warning: #ffeb3b;
    --info: #03a9f4;
    --primary: #FF9637;
    --primary-dark: #ff7900;
    --primary-70: rgba(255, 150, 55, 0.7);
    --primary-50: rgba(255, 150, 55, 0.5);
    --primary-30: rgba(255, 150, 55, 0.3);
    --primary-10: rgba(255, 150, 55, 0.1);
    --sidebar-icon: #b3c1d1;
    --20: #f6fbff;
    --30: #f4f7fa;
    --40: #eef1f4;
    --50: #e3e7eb;
    --60: #bacad6;
    --70: #b3b9bf;
    --80: #7c858e;
}

.bg-grad-sidebar {
    background-image: linear-gradient(0deg, #7e8ea1 0%, #3c4655 100%);
}

.mce-notification-warning {
    display: none;
}

/*Hide nova resource labels*/
/*.content div div div h1 {*/
/*    display: none;*/
/*}*/

a, a:active, a:focus, a:hover {
    outline: 0;
    transition: all 0.2s ease;
    text-decoration: none;
}
.text-white a {
    color: inherit;
    text-decoration: inherit;
}
#custom-style .content {
    max-width: 100%;
}
.el-menu {
    width: 220px;
}
#custom-style .px-8 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
#custom-style .py-6 {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
#custom-style .py-4 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#custom-style .py-3 {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
#custom-style .table th {
    padding: .45rem;
}
#custom-style .table td {
    padding-left: .45rem;
    padding-right: .45rem;
    height: 2.5rem;
}
#custom-style .table td img {
    height: 50px;
    width: inherit;
}
#custom-style .mb-3 {
    margin-bottom: .35rem;
}
#custom-style .text-2xl {
    font-size: 1.2rem;
}
#custom-style .btn-default {
    height: 2.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 2rem;
    font-size: 0.9rem;
}
#custom-style .px-view {
    padding: 1rem;
}

/*multi select component*/
#custom-style .multiselect__tags span {
    font-size: 16px;
    padding-left: 5px;
    padding-top: 1px;
}
#custom-style .table .whitespace-no-wrap {
    white-space: inherit;
}

#custom-style .mb-8 {
    margin-bottom: 1.4rem;
}

#custom-style .max-h-90px {
    max-height: 6.8rem;
}
