/* theme color */
$--color-primary: #2B53D9;
$--color-regular: #53A0FD;
$--color-success: #B8E986;
$--color-white: #ffffff;
$--color-black: #171714;
$--color-text-primary: #171714;
$--color-text-regular: #171714;

$--main-bg: #ffffff;


$--input-placeholder-color: #8f8e8d;