<template>
    <div v-if="showTable" class="card table-simple p-0" :id="name">
        <div v-if="$slots['header']" class="p-2 card-header">
            <slot name="header"/>
        </div>

        <div v-if="options.filters || options.filtersWithoutMenu || options.search !== false" class="card-header" style="padding: 0.40rem 1.25rem; height: 50px;">
            <el-row :gutter="24">
                <el-col v-if="options.search !== false" style="position: relative;" :xl="{span: 6}" :lg="{span: 6}" :md="{span: 6}" :sm="{span: 24}" class="pl-0">
                    <el-input
                        ref="search-table"
                        type="text"
                        @input="isTyping = true"
                        v-model="searchQuery"
                        :placeholder="options.search && options.search.placeholder ? options.search.placeholder : 'Search'"
                    />
                    <span class="search-reset" @click="resetSearch">x</span>
                </el-col>
                <el-col :class="(options.search !== false ? 'el-col-xl-18 el-col-lg-18 el-col-md-18 el-col-sm-24' : 'el-col-xl-24')">
                    <template v-if="options.filtersWithoutMenu">
                        <filters :name="name" :options="options"/>
                    </template>
                </el-col>
            </el-row>
        </div>

        <div v-if="$slots['after-filters']" class="p-2 col-12">
            <slot name="after-filters"/>
        </div>

        <div v-if="getCounters" class="card-header">
            <div class="float-right font-weight-bold font-lg">{{getCounters}}</div>
        </div>

        <div v-if="dataTable">
            <el-table :data="dataTable" :cell-style="{padding: '8px 0'}" :row-class-name="options.rowFunc ? options.rowFunc : ''">
                <el-table-column v-for="(field, fieldIndex) in options.fields" :label="field.name" :width="getColumnWith(field)" :min-width="dynamicColumnWidth">
                    <template slot-scope="scope">
                        <template v-if="field.func">
                            <div v-html="customField(scope.row, field, fieldIndex)"></div>
                        </template>

                        <template v-else-if="field.component">
                            <component :is="field.component" :data="scope.row"/>
                        </template>

                        <template v-else>
                            {{ getFieldValue(scope.row, fieldIndex) }}
                        </template>
                    </template>
                </el-table-column>

                <el-table-column v-if="options.actions !== false" fixed="right" :width="actionColumnWith">
                    <template slot-scope="scope">
                        <div class="float-right">
                            <slot name="actions" :data="scope.row"/>
                        </div>
                    </template>
                </el-table-column>
            </el-table>

            <el-pagination
                v-if="getMeta"
                class="mt-2 mb-2"
                :page-size="parseInt(getMeta.per_page)"
                :page-sizes="[10, 20, 50, 100]"
                :current-page="getMeta.current_page"
                :total="getMeta.total"
                :pager-count="5"
                background
                :layout="getMeta.total > getMeta.per_page ? 'total, prev, pager, next, jumper, sizes' : 'total, sizes'"
                @current-change="loadPage"
                @size-change="sizeChange"
            />
        </div>

        <div v-else class="text-center mt-5 mb-5">
            <h4>{{options.emptyLabel !== undefined ? options.emptyLabel : 'List is empty'}}</h4>
        </div>
    </div>

</template>

<script>
    import config from '../../../config/components/config';
    import tableStore from './store';
    import api from './api';

    export default {
        name: "DataTableSimple",
        props: ['name'],
        data() {
            return {
                firstLoad: true,
                showTable: false,
                options: {},
                searchQuery: "",
                isTyping: false,
                actionColumnWith: 0,
                dynamicColumnWidth: 150
            }
        },
        created() {
            //Register store
            tableStore(this);

            this.load();

            let that = this,
                func = {
                    refresh (that, filters) {
                        that.refreshTable(filters);
                    },
                    reset (that) {
                        that.loadPage(1);
                    },
                };

            this.$root.$on('dataTable' + this.name, (method = 'refresh', data = {}) => {
                func[method](that, data);
            });
        },
        methods: {
            load() {
                this.showTable = false;

                config.get(this, 'data_tables/simple')
                    .then((done) => {
                        this.options = done;

                        //Merging filters
                        if(this.options.defFilters) {
                            this.setFilters(this.options.defFilters);
                        }

                        api.get(this);

                        // Generate column with
                        this.columnWith();

                        this.firstLoad = false;

                        this.$emit('isInit')
                    });
            },
            refreshTable(filters = false) {
                if(filters) {
                   this.setFilters(filters)
                }

                api.get(this);
            },
            setFilters(filters) {
                if (filters.search) {
                    this.searchQuery = filters.search;
                }

                this.$store.dispatch('setToTableFilters', [filters, this.name + 'Filters']);
            },
            loadPage(page) {
                this.$store.dispatch('setToTableFilters', [
                    {page: page},
                    this.name + 'Filters'
                ]);

                api.get(this);
            },
	        sizeChange(limit) {
            	localStorage.setItem('tableLimit', limit)

                this.$store.dispatch('setToTableFilters', [
                    {limit: limit},
                    this.name + 'Filters'
                ]);

                api.get(this);
            },
            search(query) {
                this.refreshTable({search: query, page: 1});
            },
            resetSearch() {
	            this.$refs['search-table'].focus();

                if(this.searchQuery !== '') {
                    this.searchQuery = '';
                    this.setFilters({search: '', page: 1});

                    api.get(this);
                }
            },
            getFieldValue(data, index) {
                index = index.split('.');
                if(index.length > 1) {
                    let value;
                    index.forEach(function(element, index) {
                        value = index === 0 ? data[element] : value[element]
                    });

                    return value;
                }

                return data[index[0]];
            },
            customField(data, field, index) {
                return field['func'](data, index, field);
            },
            getColumnWith(finld) {
                return finld.width ? finld.width : false;
            },
            columnWith() {
                this.actionColumnWith = this.options.actionColumnWith ? this.options.actionColumnWith : '100';
            }
        },
        computed: {
            dataTable() {
                let store = this.$store.getters[this.name];

                return store.data !== undefined && store.data.length ? store.data : false;
            },
            getCounters() {
                let store = this.$store.getters[this.name];

                return store.counters !== undefined ? store.counters : '';
            },
            getMeta() {
                return this.$store.getters[this.name].meta;
            },
            filters() {
                return this.$store.getters[this.name + 'Filters'];
            }
        },
        components: {Filters: () => import('./Filters')},
        watch: {
            searchQuery: function () {
                setTimeout(() => {
                    this.isTyping = false;
                }, 1000)
            },
            isTyping: function(value) {
                if (!value) {
                    this.search(this.searchQuery);
                }
            },
            '$route': function (route) {
                if (!this.firstLoad && route.name === this.options.forceReloadPage) {
	                this.$store.dispatch('resetTableFilters', this.name + 'Filters');
                    this.load();
                }
            }
        }
    }
</script>
