<template>
    <el-row :gutter="10">
        <div class="el-col-xl-20 el-col-lg-20 el-col-md-18 el-col-sm-24">
            <FilterTemplate :name="name" :filters="options.filtersWithoutMenu" width="4" :stateFilters="stateFilters"/>
        </div>
    </el-row>
</template>

<script>
	import FilterTemplate from './FilterTemplate'

    export default {
        name: "Filters",
        props: ['name', 'options'],
        data() {
            return {
                stateFilters: {},
            }
        },
        components: {FilterTemplate},
        methods: {
            resetFilters() {
                this.$parent.searchQuery = '';

                this.setFiltersState();

                this.$store.dispatch('resetTableFilters', this.name + 'Filters');
                this.$root.$emit('dataTable' + this.name);
            },
	        setFiltersState() {
		        let states = {};
		        for (let state in this.filters) {
			        states[state] = null;
		        }

		        this.stateFilters = states;
	        },
            checkOnMenu() {
	            let menu = this.options.filtersWithoutMenu;

	            for(let item in menu) {
	            	if(menu[item].menu === true) {
	            		return true;
                    }
                }

	            return false;
            }
        },
        created() {
           this.setFiltersState();
        }
    }
</script>

<style>
    .table-input-query {
        width: 100%;
    }
    .table-input-query .el-autocomplete-suggestion {
        display: none;
    }

    .filter-block {
        margin-bottom: 10px;
    }
</style>
