<template>
    <el-row :gutter="24">
        <div v-for="(filter, key) in filters" v-if="filter.menu === isMenu" :class="'el-col-md-'+(filter.width ? filter.width : width)+' filter-block'" :key="key">
            <div v-if="placeholder">{{filter.label}}</div>

            <template v-if="filter.type === 'select'">
                <el-select style="width: 100%;" v-model="stateFilters[key]" :placeholder="filter.label" filterable clearable @change="filterPage(key, $event, filter)">
                    <el-option :label="filter.default.label" :value="filter.default.value" />
                    <el-option
                        v-for="item in getDataFilter(filter)"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                        :style="filter.style ? filter.style.key + ': ' + item[filter.style.value] : ''"
                    />
                </el-select>
            </template>

            <template v-if="filter.type === 'search-select'">
                <el-select
                    style="width: 100%;"
                    @change="changeSearch(key, $event, filter)"
                    v-model="stateFilters[key]"
                    filterable
                    clearable
                    remote
                    :placeholder="filter.label"
                    :remote-method="data => searchMethod(data, filter)"
                    :loading="loading"
                >
                    <el-option v-for="search in searchList" :key="search.id" :label="search.name" :value="search.id" />
                </el-select>
            </template>

            <template v-if="filter.type === 'multiple-select'">
                <el-select style="width: 100%;" v-model="stateFilters[key]" :placeholder="filter.label" filterable clearable multiple @change="filterPage(key, $event, filter)">
                    <el-option :label="filter.default.label" :value="filter.default.value" />
                    <el-option v-for="item in getDataFilter(filter)" :key="item.id" :label="item.name" :value="item.id" />
                </el-select>
            </template>
        </div>
    </el-row>
</template>

<script>
	export default {
		name: "FilterTemplate",
		props: ['name', 'filters', 'width', 'placeholder', 'stateFilters', 'isMenu'],
		data() {
			return {
				format: {
					date: 'dd.MM.yyyy',
					month: 'MM.yyyy',
                    datetime: 'dd.MM.yyyy HH:mm:ss'
				},
				valueFormat: {
					date: 'yyyy-MM-dd',
					month: 'yyyy-MM',
                    datetime: 'yyyy-MM-dd HH:mm:ss'
				},
				currentReadyDate: null,
				searchList: [],
				loading: false,
			}
		},
		methods: {
			pickerType(filter) {
				return filter.picker_type ? filter.picker_type : 'date';
			},
			pickerFormat(pref) {
				return this[this.pickerType()][pref]
			},
			filterPage(key, val, filter = {}) {
				let filters =  {page: 1};
				filters[key] = val;

				if (filter.beforeChangeWithCallback) {
					filter.beforeChangeWithCallback(val, () => {
						this.$root.$emit('dataTable' + this.name, 'refresh', filters);
					})
				} else {
					this.$root.$emit('dataTable' + this.name, 'refresh', filters);

					if (filter.change) {
						filter.change(val)
					}
				}
			},
			getDataFilter(filter) {
				return filter.data.model ? orm.findALl(filter.data.model, filter.data.query) : filter.data;
			},
			changeSearch(key, $event, filter) {
				this.filterPage(key, $event, filter)

				if (filter.change) {
					filter.change($event)
				}
			},
			searchMethod(query, filter) {
				let opt = filter.options;

				if (query !== '') {
					this.loading = true;

					let options = filter.options,
						filters = this.$store.getters[this.name + 'Filters'],
						params = {search: query};

					if(options.params) {
						options.params.forEach((element) => {
							if (filters[element]) {
								params[element] = filters[element];
							}
						});
					}

					request[opt['path']][opt['method']]({
						params: {filters: params}
					}).then((ctx) => {
						this.loading = false;
						this.searchList = ctx.response.data.data;
					})
				} else {
					this.searchList = [];
				}
			},
			inputQuery(event, filter, key) {
				this.filterPage(key, event, filter)
			}
		}
	}
</script>

<style>
    .table-input-query {
        width: 100%;
    }
    .table-input-query .el-autocomplete-suggestion {
        display: none;
    }

    .filter-block {
        margin-bottom: 10px;
    }
</style>
